
  body{
    background-color:powderblue;
  }
  hr{
    border-style: none;
    border-top-style: dotted;
    border-color:#008080;
    border-width:7px;
    width:10%;
  }
h1{
  color:	#1e90ff ;
}
h3{

  color:#ff7f50;
}
